{% extends 'registration/auth-base.html' %}
{% load widget_tweaks %}

{% block title %}
    Login | Django BLog
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <a href="{% url 'blog:home' %}"><h2 class="heading-section">Django Blog</h2></a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Welcome Back</h3>
                        <h6 class="mb-4 text-center">Don't have an account? <a href="{% url 'register' %}">Signup</a>
                        </h6>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="text-center"
                                   style="background-color: darkorange; border-radius: 25px">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <form action="#" method="post" class="signin-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {% render_field form.username class+="form-control" placeholder="Username" type="text" %}
                            </div>
                            <div class="form-group">
                                {% render_field form.password class+="form-control" placeholder="Password" id="password-field" type="password" %}
                                <span toggle="#password-field"
                                      class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                        <input name="remember-me" type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="{% url 'password_reset' %}" style="color: #fff">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="px-2 py-2 mr-md-1 rounded"><span
                                    class="fa fa-google mr-2"></span>
                                Google</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

