{% extends 'registration/auth-base.html' %}
{% block title %}
    Password reset complete | Django Blog
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <a href="{% url 'blog:home' %}"><h2 class="heading-section">Django Blog</h2></a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Password reset complete</h3>
                        <p class="text-center">Your password has been set. You may go ahead and sign in now.</p>
                        <a href="{% url 'login' %}">
                            <button type="button" class="form-control btn btn-primary submit px-3">Sign in</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



