{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}

{% endblock %}{% endblock %}

{% block content %}
    <div class="col-md-8 text-center mx-auto">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">Change Password</h3>
            </div>
            <div class="card-body py-4">
                <p class="py-2">Your password has changed!!!</p>
                <a href="{% url 'account:profile' %}">
                    <button type="button" class="btn btn-light">Return</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}